:root {
    --flag-orange: #f4951c;
    --flag-white:  #ffffff;
    --flag-green:  #02a350;
}

.orange {
    background-color: var(--flag-orange);
}

.white {
    background-color: var(--flag-white);
}

.green {
    background-color: var(--flag-green);
}

body {
    width: 100vw;
    height: 100vh;
    overflow: clip;
    user-select: none;
    font-size: "Calibri", sans-serif;
    background: rgb(244,149,28);
    background: linear-gradient(142deg, rgba(244,149,28,1) 10%, rgba(255,255,255,1) 50%, rgba(2,163,80,1) 90%); 
    margin: 0;
}

.flag {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;

}

.flag > div{
    width: 100vw;
    height: 33.3vh;
}

.flag .floating {
    position: absolute;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.flag .floating img {
    width: 33.3vw;
    height: auto;
}

.text {
    font-size: 4em;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
    font-weight: 600;
}

.text h {
    width: 50vw;
}

@keyframes fade-out {from {opacity: 1;} to {opacity: 0;}}
@keyframes fade-in {from {opacity: 0;} to {opacity: 1;}}